* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.header {
  text-align: center;
  height: 100px;
  color: white;
  font-size: 2rem;
  background-color: #2b2b2b;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.content {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
}

.item {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 2rem;
}

.item-image {
  text-align: center;
  margin: 0px auto 0px auto;
  position: relative;
}

.item-details {
  display: block;
  text-align: center;
  margin: 20px auto 0;
  max-width: 220px;
}

.item-image img {
  height: 100px;
}

.background {
  width: 100%;
  background-color: #23272B;
  justify-content: center;
  text-align: center;
}

.background img {
max-width: 1250px;
padding: 2rem;
scale: 80%;
}